date-display {

  .date-display {

    &__month {

      margin-top: 0;
      text-align: center;
      color: color($colors, secondary);

    }

    &__dates {

      position: relative;
      height: 5rem;

      &__arrow {

        position: absolute;
        font-size: 3rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999999;

        &--left {
          left: 2rem;
        }

        &--right {

          right: 2rem;

        }

      }

      &__all-dates {
        padding: 0 3rem;

        .active {
          color: color($colors, secondary);
          font-size: 4rem;
        }
      }

    }

  }

}
